body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.money-display,
.click-value-display,
.auto-clickers-display,
.auto-clicker-cost-display,
.quality-slider-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.money-display h2,
.click-value-display h2,
.auto-clickers-display h2,
.auto-clicker-cost-display h2 {
  margin: 0;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

button {
  font-size: 1.2em;
  margin: 0 10px;
}

input[type="file"] {
  display: none;
}

.import-save-label {
  font-size: 1.2em;
  margin-right: 10px;
  cursor: pointer;
}
